# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [84]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [80]:
admissions = pd.read_csv("Admission_Predict.csv")

Remove trailing spaces at the end of the column names if there are any.

Let's evaluate the dataset by looking at the `head` function.

In [81]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [28]:
admissions.isnull().sum() # no missing values

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [85]:
admissions = admissions.set_index("Serial No.", inplace = True)

KeyError: "None of ['Serial No.'] are in the columns"

In [83]:
admissions

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
6,321,109,3,3.0,4.0,8.20,1,0.75
7,308,101,2,3.0,4.0,7.90,0,0.68
8,302,102,1,2.0,1.5,8.00,0,0.50
9,323,108,3,3.5,3.0,8.60,0,0.45
10,327,111,4,4.0,4.5,9.00,1,0.84
11,328,112,4,4.0,4.5,9.10,1,0.78
12,307,109,3,4.0,3.0,8.00,1,0.62
13,311,104,3,3.5,2.0,8.20,1,0.61
14,314,105,3,3.5,2.5,8.30,0,0.54
15,317,107,3,4.0,3.0,8.70,0,0.66
16,319,106,3,4.0,3.0,8.00,1,0.65
17,318,110,3,4.0,3.0,8.80,0,0.63
18,303,102,3,3.5,3.0,8.50,0,0.62
19,325,114,4,3.0,2.0,8.40,0,0.70
20,328,116,5,5.0,5.0,9.50,1,0.94
21,334,119,5,5.0,4.5,9.70,1,0.95
22,336,119,5,4.0,3.5,9.80,1,0.97
23,322,109,5,4.5,3.5,8.80,0,0.76
24,298,98,2,1.5,2.5,7.50,1,0.44
25,295,93,1,2.0,2.0,7.20,0,0.46
26,310,99,2,1.5,2.0,7.30,0,0.54
27,300,97,2,3.0,3.0,8.10,1,0.65
28,327,103,3,4.0,4.0,8.30,1,0.74
29,338,118,4,3.0,4.5,9.40,1,0.91
30,340,114,5,4.0,4.0,9.60,1,0.90
...,...,...,...,...,...,...,...,...
356,310,103,2,2.5,2.5,8.24,0,0.72
357,324,110,3,3.5,3.0,9.22,1,0.89
358,336,119,4,4.5,4.0,9.62,1,0.95
359,321,109,3,3.0,3.0,8.54,1,0.79
360,315,105,2,2.0,2.5,7.65,0,0.39
361,304,101,2,2.0,2.5,7.66,0,0.38
362,297,96,2,2.5,2.0,7.43,0,0.34
363,290,100,1,1.5,2.0,7.56,0,0.47
364,303,98,1,2.0,2.5,7.65,0,0.56
365,311,99,1,2.5,3.0,8.43,1,0.71
366,322,104,3,3.5,4.0,8.84,1,0.78
367,319,105,3,3.0,3.5,8.67,1,0.73
368,324,110,4,4.5,4.0,9.15,1,0.82
369,300,100,3,3.0,3.5,8.26,0,0.62
370,340,113,4,5.0,5.0,9.74,1,0.96
371,335,117,5,5.0,5.0,9.82,1,0.96
372,302,101,2,2.5,3.5,7.96,0,0.46
373,307,105,2,2.0,3.5,8.10,0,0.53
374,296,97,2,1.5,2.0,7.80,0,0.49
375,320,108,3,3.5,4.0,8.44,1,0.76
376,314,102,2,2.0,2.5,8.24,0,0.64
377,318,106,3,2.0,3.0,8.65,0,0.71
378,326,112,4,4.0,3.5,9.12,1,0.84
379,317,104,2,3.0,3.0,8.76,0,0.77
380,329,111,4,4.5,4.0,9.23,1,0.89
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [38]:
admissions["GRE Score"].value_counts() # there are duplicate values? Not each value is unique

324    16
312    16
314    14
322    14
321    13
316    12
327    12
317    12
320    12
311    11
325    11
313    11
308    11
323    10
315    10
326    10
329     9
319     9
318     9
300     9
310     8
331     8
307     8
304     8
301     8
299     8
305     7
298     7
340     7
334     7
330     6
332     6
306     6
328     6
296     5
309     5
303     5
302     5
336     5
335     4
333     4
295     4
338     4
297     4
339     3
294     2
290     2
337     1
293     1
Name: GRE Score, dtype: int64

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [48]:
admissions.reset_index("GRE Score", inplace = True)

KeyError: 'Level GRE Score must be same as name (None)'

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [51]:
admissions[(admissions["CGPA"] > 9) & (admissions["Research"] == 1)]

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
4,330,9.34,115,5,4.5,3.0,1,0.90
10,328,9.10,112,4,4.0,4.5,1,0.78
19,328,9.50,116,5,5.0,5.0,1,0.94
20,334,9.70,119,5,5.0,4.5,1,0.95
21,336,9.80,119,5,4.0,3.5,1,0.97
28,338,9.40,118,4,3.0,4.5,1,0.91
29,340,9.60,114,5,4.0,4.0,1,0.90
30,331,9.80,112,5,4.0,5.0,1,0.94
31,320,9.20,110,5,5.0,5.0,1,0.88
40,326,9.40,113,5,4.5,4.0,1,0.91
41,322,9.10,110,5,5.0,4.0,1,0.88
42,329,9.30,114,5,4.0,5.0,1,0.86
64,318,9.22,109,3,3.5,4.0,1,0.68
65,328,9.16,115,4,4.5,4.0,1,0.78
66,332,9.64,118,5,5.0,5.0,1,0.94
67,336,9.76,112,5,5.0,5.0,1,0.96
68,321,9.45,111,5,5.0,5.0,1,0.93
69,314,9.04,108,4,4.5,4.0,1,0.84
77,340,9.50,120,4,5.0,5.0,1,0.96
78,320,9.22,110,5,5.0,4.5,1,0.92
79,322,9.36,115,5,4.0,4.5,1,0.92
80,340,9.45,115,5,4.5,4.5,1,0.94
93,332,9.24,119,4,5.0,4.5,1,0.90
99,326,9.05,112,3,3.5,3.0,1,0.74
101,329,9.18,111,4,4.5,4.5,1,0.87
102,338,9.46,117,4,3.5,4.5,1,0.91
103,331,9.38,116,5,5.0,5.0,1,0.93
110,310,9.04,106,4,4.5,4.5,1,0.66
115,335,9.56,117,5,5.0,5.0,1,0.94
...,...,...,...,...,...,...,...,...
231,325,9.04,114,3,3.5,3.0,1,0.76
233,328,9.02,110,4,4.0,2.5,1,0.81
241,335,9.68,115,4,4.5,4.5,1,0.93
246,331,9.34,119,4,5.0,4.5,1,0.90
247,327,9.13,108,5,5.0,3.5,1,0.87
263,329,9.45,113,5,5.0,4.5,1,0.89
268,317,9.11,110,3,4.0,4.5,1,0.80
271,340,9.66,112,4,5.0,4.5,1,0.94
272,331,9.26,116,5,4.0,4.0,1,0.93
273,336,9.19,118,5,4.5,4.0,1,0.92
274,324,9.08,114,5,5.0,4.5,1,0.89
285,330,9.24,114,3,4.5,4.5,1,0.90
293,323,9.10,110,3,4.0,3.5,1,0.79
298,328,9.18,108,4,4.5,4.0,1,0.84
311,326,9.14,116,3,3.5,4.0,1,0.81
322,332,9.47,118,5,5.0,5.0,1,0.94
346,334,9.54,116,4,4.0,3.5,1,0.93
347,338,9.23,115,5,4.5,5.0,1,0.91
350,330,9.17,114,4,4.5,3.0,1,0.86
356,324,9.22,110,3,3.5,3.0,1,0.89
357,336,9.62,119,4,4.5,4.0,1,0.95
367,324,9.15,110,4,4.5,4.0,1,0.82
369,340,9.74,113,4,5.0,5.0,1,0.96
370,335,9.82,117,5,5.0,5.0,1,0.96
377,326,9.12,112,4,4.0,3.5,1,0.84
379,329,9.23,111,4,4.5,4.0,1,0.89
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84
382,330,9.45,116,4,5.0,4.5,1,0.91
384,333,9.66,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [75]:
filtered = admissions[(admissions["CGPA"] > 9) & (admissions["SOP"] < 3.5)]
filtered

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,118,4,3.0,4.5,1,0.91
62,327,9.02,114,3,3.0,3.0,0,0.61
140,326,9.11,114,3,3.0,3.0,1,0.83
217,324,9.01,111,4,3.0,3.0,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84

In [76]:
#calculating mean of "Chance of Admit"

filtered["Chance of Admit "].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [90]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    return (x - x.np.mean()) \x.np.std()
    
    
    
    # your code here

SyntaxError: unexpected character after line continuation character (<ipython-input-90-fd475260c32f>, line 7)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [ ]:
# your code here

We will generate the decision choice at random using the code below. Please run the cell.

In [ ]:
# Libraries
from random import choices

In [ ]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
# your code here

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code here

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here